body {
  margin: 0 auto;
  overflow: scroll;
}

.masthead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 60vh; /* if you don't want it to take up the full screen, reduce this number */
  background-size: cover !important;
  background: url("images/desktop/image-hero.jpg") no-repeat center center
    scroll;
}

h1 {
  font-style: normal;
  font-weight: bold;
  color: #eee;
  font-size: 11vmin;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
  border: 1px solid #fff;
  max-width: 1050px;
}

.container {
  width: 90%;
  margin: auto;
}

.contain-img {
  margin: auto;
  width: 70%;
  border: 1px solid violet;
  margin-top: 50px;
  position: relative;
}
.main-img {
  max-width: 70%;
}

.article-one {
  max-width: 50%;
  max-height: 70%;
  border: 1px solid green;
  background-color: #fff;
  position: absolute;
  bottom: -60px;
  right: 15%;
  padding: 50px;
}
